@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.timetableheader {
  display: flex;
}

.timetablemain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: brown;
  max-width: 50%;

}

.timetablelower {
  display: flex;
  width: 100%;
}

.timetableheader {
  display: flex;
  justify-content: space-evenly;
  background-color: aqua;
  width: 100%;
}

.timetableupper {
  background-color: burlywood;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}